/*
   CSS styling examples for the Vaadin app.
   Visit https://vaadin.com/docs/flow/theme/theming-overview.html and
   https://vaadin.com/themes/lumo for more information.
*/

/* Example: CSS class name to center align the content . */
.centered-content {
  margin: 0 auto;
  max-width: 250px;
}

.hlAlbumes {
	width: 100%; 
	height: 100%; 
	justify-content: center; 
	align-items: center; 
	margin: var(--lumo-space-s);
}

.albumAdministrador {
	margin: var(--lumo-space-s); 
	padding: var(--lumo-space-s);
}

.album {
	margin: var(--lumo-space-m); height: 98%;
}

.artistaAdministrador {
	margin: var(--lumo-space-s); 
	padding: var(--lumo-space-s);
}

.imagenArtista {
	max-width: 350px;
	max-height: 350px;
}

.artistasSimilares {
	height: 90%; 
	margin: var(--lumo-space-l); 
	padding: var(--lumo-space-s);
}

.hlArtistas {
	width: 100%; 
	height: 100%; 
	margin: var(--lumo-space-s);
}

.fullSize {
	width: 100%;
	height: 100%;
}

.cancionAdministrador {
   	margin: var(--lumo-space-s); 
   	padding: var(--lumo-space-s);
}

.cancionCiber {
  	max-width: 300px;
  	max-height: 300px;
  	width: 100%; 
	height: 100%;
}

.imagenEstilo {
 	max-width: 350px;
 	max-height: 350px;
}

.eventos{
	width: 80%; height: 80%; align-self: center;
}

.cabecera{
	width: 100%;
	height: 10%;
}

.imagenResultadosAdministrador{
	max-width: 600px; 
	max-height: 600px; 
	width: 100%; 
	height: 100%;
}

.imagenEdicionCreacionAdministrador{
	max-width: 500px; 
	max-height: 500px; 
	width: 100%; 
	height: 100%;
}

.max150 {
	max-width: 150px; 
	max-height: 150px; 
	width: 100%; 
	height: 100%;
}

.max350 {
	max-width: 350px; 
	max-height: 350px; 
	width: 100%; 
	height: 100%;
}

.cancion {
 	max-width: 350px;
 	max-height: 350px;
 	width: 100%; 
	height: 100%;
}

